repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.1
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: sort-simple-yaml
      - id: pretty-format-json
      - id: debug-statements
      - id: trailing-whitespace
      - id: requirements-txt-fixer

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
      - id: numpydoc-validation
        exclude: '^notebooks/'

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.8.0
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.22
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-mkdocs==4.0.0
          - mdformat-footnote==0.1.1

  - repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: ty-check
        name: ty-check
        language: python
        entry: uvx ty check
        args: [--python=.venv/]
        pass_filenames: false
        exclude: '^notebooks/'

  - repo: local
    hooks:
      - id: uv-lock
        name: Lock dependencies with uv
        entry: uv lock
        language: system
        pass_filenames: false