repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff
        args: ["--fix", "--show-fixes"]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
      - id: check-json
        exclude: "^notebooks/"
      - id: sort-simple-yaml
      - id: pretty-format-json
        exclude: "(^notebooks/|tests/fixtures/.*)"
      - id: debug-statements
      - id: trailing-whitespace
      - id: requirements-txt-fixer
        exclude: "^notebooks/"

  - repo: https://github.com/numpy/numpydoc
    rev: v1.10.0
    hooks:
      - id: numpydoc-validation
        exclude: "^(notebooks|tests)/"

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies:
          - mdformat-mkdocs==5.1.2
          - mdformat-footnote==0.1.2

  - repo: https://github.com/crate-ci/typos
    rev: v1.42.0
    hooks:
      - id: typos

  - repo: local
    hooks:
      - id: ty-check
        name: ty-check
        language: unsupported
        types: [python]
        entry: .venv/bin/ty check
        args: [--python=.venv/]
        pass_filenames: true
        exclude: "^notebooks/"

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.24
    hooks:
      - id: uv-lock
